
@font-face {
  font-family: OstrichSans-Medium;
  src: url("../fonts/OstrichSans-Medium.otf") format("opentype");
}

body{
  background-color: rgba(50,50,50,0.3);
  font-family: 'Raleway', sans-serif;
}

body{
  .canvas{
    border: 1px solid grey;
  }
}

.os-container {
  //display: flex;
  //align-items: flex-start;
  border: 1px solid darkgrey;
  width: 70%;
  max-width: 800px;
  min-width: 600px;
  margin: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 15px;

  .os-controls {
    display: inline-block;
    min-width: 200px;
    border: 1px solid grey;
    margin-left: 10px;


    .os-adjustments{
      cursor: pointer;

      &:hover{
        background-color: grey;
      }
    }
  }
}


#mask{
  //border: 1px solid black;
  //opacity: 0;
}

.hiden{
  border: 1px solid grey;
  //display: none;
}

.hides {
  animation: hideshow 1s ease infinite;
}

.slidingSeat {
  animation: SlidingSeat-Animaion 1.5s ease infinite;
}
.pneumaticTilt image{
  animation: pneumaticTilt-Animaion 1.5s ease 1;
}
.tensionKnob{
  animation: tensionKnob-Animaion 1.5s ease infinite;
}


//anim
@keyframes hideshow {
  0% { opacity: 0;
    x:100;
  }
  10% { opacity: 0; }
  15% { opacity: 0; }
  100% { opacity: 1;
    x:20;
  }
}

@keyframes SlidingSeat-Animaion {
  0% {
    x:252;
  }
  15%{
    x:248;
  }
  100% {
    x:252;
  }
}

@keyframes pneumaticTilt-Animaion {
  0% {
    transform: translateY(0px);
  }
  15%{
    transform: translateY(-3px);
  }
  80%{
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes tensionKnob-Animaion {
  0% {
    //transform: rotate(0deg);
    //transform: translate(-100px, -100px) rotate(0deg) translate(100px, 100px) ;
    transform: translate(300px, 190px) rotate(-3deg) translate(-300px, -190px) ;
  }
  100% {
    transform: translate(300px, 190px) rotate(3deg) translate(-300px, -190px) ;
  }
}

//----------------------------------
.alert{
  width: 90%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(234,251,212);
  margin: auto;
  margin-bottom: 15px;
  color: rgb(102,102,102);

  text-align: justify;
  font-size: 14px;
}

.main{
  border: 1px solid darkgrey;
  width: 70%;
  max-width: 800px;
  min-width: 600px;
  margin: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 15px;
}

.show{
  position: relative;
  display: inline-block;

  .message{
    position: absolute;
    color: rgb(180,180,180);
    bottom: 20px;
    right: 5px;
    text-transform: uppercase;
    //font-family: "Arial Unicode MS";
    font-family: OstrichSans-Medium;

    font-size: 14px;
    letter-spacing: 0.5px;
    transform: scaleY(0.7) scaleX(1.5);
  }
}


.row {
  display: flex;
  //justify-content: space-between;
  //margin-right: 15px;
  width: 470px;
  height: 370px;
  align-items: flex-end;
  position: relative;

  .mes-info {
    //font-family: "Helvetica Condensed Black";
    //font-family: OstrichSans-Medium;
    //color: rgb(60,60,60);
    font-size: 12px;
    letter-spacing: 0.3px;
    display: block;
    width: 200px;
    margin: 10px;
    text-align: right;
    //color: rgb(110,110,110);
  }

  .actions {
    width: 190px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    box-shadow: 1px 0px 5px rgba(100, 100, 100, 0.8);
    border-radius: 10px;
    max-height: 200px;
    background: linear-gradient(to top, rgb(215, 216, 218), rgb(248, 248, 248));
    border-top: none;
    margin: 15px;
    //font-family: "Helvetica Condensed Black";
    color: rgb(60, 60, 60);
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: 600;

    .title {
      text-transform: uppercase;
      color: white;
      text-align: center;
      background-color: rgb(102, 180, 35);
      border-radius: 5px 5px 0px 0px;
      //font-family: Arial;
      //font-size: 0.8em;
      //line-height: 1.5em;
      box-shadow: 0 -2px 2px rgb(102, 180, 35);
      font-size: 10px;
      line-height: 14px;
      //text-shadow: 0 0 2px white;
      letter-spacing: 1px;
      span {
        //font-family: OstrichSans-Medium;
        display: block;
        transform: scaleX(1.1);
      }
    }

    .action-list {
      width: 100%;
      border-collapse: collapse;

      .link-action {
        cursor: pointer;
      }

      td:nth-child(3), td:nth-child(1) {
        text-align: center;
      }

      tr {
        height: 20px;
        border-bottom: 1px solid rgba(250, 250, 250, 0.5);

        a {
          text-decoration: none;
        }

        a i {
          color: rgb(190, 190, 190);
        }
        a i:hover {
          color: rgb(0, 175, 215);
        }
        a:hover {
          //color: rgb(200, 200, 200);
        }
      }
      tr:hover {
        //background-color: rgb(0, 175, 217);
        //  color: (200, 200, 200);
        color: rgb(200, 200, 200);
      }
    }
  }

  .modal {
    box-sizing: content-box;
    border: 1px solid rgb(220, 220, 220);
    border-top: none;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 87%;
    background-color: rgba(250, 250, 250, 0.6);
    border-radius: 6px;
    display: none;
    //font-family: "Helvetica Condensed Black";

    .modal-head {
      width: calc(100% + 2px);
      text-align: center;
      background-color: #00b0da;
      color: white;
      text-shadow: 0px 0px 2px white;
      border-radius: 6px 6px 0 0;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.4px;
      margin-left: -1px;
    }

    .close {
      float: right;
      //font-family: "Helvetica Condensed Black";
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.4px;
      color: rgb(180, 180, 180);
      cursor: pointer;
      margin: 9px;
      margin-top: 6px;

      &:hover {
        color: #00afd7;
      }

      span {
        vertical-align: middle;
        display: block;
        float: right;
        width: 10px;
        height: 10px;
        //content: 'X';
        border: 1px solid currentColor;
        margin-top: 1px;
        margin-left: 5px;
      }
      span:after {
        width: 14px;
        content: '';
        transform: rotate(45deg);
        border-top: 1px solid currentColor;
        transform-origin: 1px 0px;
        position: absolute;
      }
      span:before {
        width: 14px;
        content: '';
        transform: rotate(-45deg);
        border-top: 1px solid currentColor;
        transform-origin: 12px 6px;
        position: absolute;
      }
    }

    .modal-content {
      border: 1px solid rgb(180, 180, 180);;
      height: 80%;
      margin-top: 25px;

      margin-left: 8px;
      margin-right: 8px;
      //margin-bottom: 10px;
      border-radius: 6px;
      background-color: white;
      font-family: "Helvetica Condensed Black";
      padding: 8px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;

      .variant {
        display: none;
      }

      div {
        height: 100%;
        overflow-y: scroll;
      }
    }
  }
}